* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* --- 01-color-switcher --- */
.container-btn-color {
  display: flex;
  justify-content: center;
  padding-top: 7em;
}

.btn-start-color,
.btn-stop-color {
  padding: 10px;
  margin: 10px;
}

/* --- 02-timer --- */
.timer {
  display: flex;
  padding-top: 1em;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

.value {
  font-size: xx-large;
}
